@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:wght@500&display=swap');

:root {
  --background: #18181b;
  --background-overshadowed: #18181b55;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--background);
  color: #ffffff;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #37373a;
  width: 10px;
  border: 2px solid #090c0ea8;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.backgroundLogin {
  background-color: linear-gradient(131.84deg, #0082be 3.54%, #6a2875 80.18%);
}
